@use '../config/variables';

#title {
  -fx-text-fill: variables.$light-color;
}

#subTitle {
  -fx-text-fill: variables.$primary-color;
}

#rButton1, #rButton2, #rButton3 {
  -fx-text-fill: variables.$light-color;
}